<section class="card">
  <a href="/album/{{id}}">
    <header>{{record_name}}</header>

    <div class="card-body">
      <img src="/images/{{image_url}}" alt="">
      <p>Genre: {{genre}}</p>
    </div>
  </a>
</section>