<div class="card text-center my-records" style="width: 18rem;">
  <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title record-name">{{record_name}}</h5>
    <p class="card-text genre">{{genre}}</p>
  </div>
  <div class="card-body">
    <p class="card-text price">${{price}}</a>
  </div>
</div>