<div id="recordBlock">
    <h3 id="recordName">Album Name:{{record_name}}</h3>
    <h4 id="recordGenre">Genre: {{genre}}</h4>
    <image id="recordImage">Image: {{imageUrl}}</image>
    <h4 id="recordPrice">Price: {{price}}</h4>
    <button id="toCrate">Add to My Crate</button>
</div>