<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="/images/opera.png" alt="Card image cap"> -->
  <div class="card-body" id = "recordInfo">
    
</div>
<script src = "/js/byId.js">
    
</script>