
<div class="row">
    <div class="col-md-12">
        <h1>My Crate</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{!-- This is the myRecords partial --}}
        {{#each user_crates as |user_crate|}}
        {{>myRecords}}
        {{/each}}
    </div>

</div>
