<div class="row">
    <div class="col-md-6 text-center">
        <a href="/crates"><img id="build" src="/images/build.png"></a>
    </div>
    
    <div class="col-md-6 text-center">
        <a href="/api/search"><img id="genre" src='/images/search.png'></a>
    </div>
</div>
