<div class="row">
    <div class="col-md-6">
        <img id="build" src="/images/build.png" href="/crates">
    </div>
    <div class="col-md-6">
        <img id="genre" src='/images/search.png' href="/search">
    </div>
</div>
