<div class ="card mx auto mb-3 loginForm">
<h2>Signup</h2>

<form class="form signup-form">
    <div class="form-group loginInput">
        <label for="name-signup">username:</label>
        <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group loginInput">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group loginInput">
        <label for="password-signup">password:</label>
        <input class="form-input" type="passsword" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn loginBtn" type="submit">Sign Me Up!</button>
    </div>
</form>
</div>

<script src="/js/signup.js"></script>