body {
    background-image: url("../images/reel_logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#mainHeader {
    height: 100px;
}

#reel2 {
    height: 130px;
    margin: 20px 10px 10px 10px;
    float: right;
    cursor: pointer;
}

a {
    float: left;
    margin: 5px 10px 10px 10px;
    color: antiquewhite;
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

a:hover {
    color: fuchsia;
}

#build {
    height: 280px;
    margin-left: 130px;
    transform: rotate(20deg);
    cursor: pointer;
}

@keyframes spinning {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

#build:hover {
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

#genre {
    height: 280px;
    margin: 50px 0 0 100px;
    transform: rotate(-10deg);
    cursor: pointer;
}

#genre:hover {
    animation-name: spinning;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}


.hide {
    display: none;
}