/* DESKTOP DISPLAY */

body {
    
    background-image: url("../images/record.png");
    background-repeat: no-repeat;
    background-color: black;
    background-size: 100%;
    
}

header {
    font-size: 46px;
    letter-spacing: 2px;
    color: turquoise;
    font-family: 'Monoton', cursive;
    margin-left: 12px;
    height: 60px;

}

h1 {
    font-size: 46px;
    color: turquoise;
    background-color: black;
    width: 245px;
    padding: 12px;
    margin-left: 12px;
    font-family:'Courier New', Courier, monospace;
}

h2 {
    color: turquoise;
    font-weight: bold;
    font-size: 36px;
    font-family:'Courier New', Courier, monospace;
}

h3 {
    color: antiquewhite;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

h5 {
    font-size: 20px;
    font-weight: bolder;
    color: turquoise;
    font-family:'Courier New', Courier, monospace;
}

footer {
    color: turquoise;
    position: fixed;
    width: 100%;
    bottom: 50px;
    height: 32px;
    text-align: center;
    padding: 5px;
    font-family: 'Mr Dafoe', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}


/* CLASS STYLING */

.homeLink {
    float: right;
    margin: 5px 10px 10px 10px;
    color: antiquewhite;
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}

.homeLink:hover {
    color: turquoise;
}

.card {
    margin-bottom: 50px;
    display: inline-block;
    background-color: black;
}

.searchArtist {
    margin-left: 27px;
}

.new-record {
    margin: 10px 10px 40px 10px;
    width: 400px;
    height: 480px;
    animation: fadeInDownBig;
    animation-duration: 3s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.crate-button {
    background-color: turquoise;
    margin-bottom: 5px;
    margin-left: 5px;
    color: black;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace; 
}

.record-image {
    height: 286px;
    width: 286px;
    margin: 15px;
}

.record-name {
    padding: 10px;
    color: turquoise;
    font-weight: bold;
    text-decoration: none;
}

.card-text, .record-name, .genre, .price {
    color: antiquewhite;
}

.hide {
    display: none;
}

.login-form, .signup-form {
    width: 80%;
    height: auto;
    margin: 40px 0px 100px 0px;
    display: inline-block;
    color: turquoise;
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
}

.loginInput {
    margin: 10px;
}

.inputLogin {
    width: 252px;
    float: right;
} 

.loginBtn {
    background-color: turquoise;
    width: 252px;
    float: right;
    margin-right: 10px;
    font-weight: bold;
}

/*  ID STYLING */

#newRecord {
    display: inline-block;
}

#build {
    height: 320px;
    margin-left: 130px;
    animation: zoomInLeft;
    animation-duration: 1s;
    cursor: pointer;
}

#genre {
    height: 320px;
    margin: 50px 0 0 100px;
    animation: zoomInRight;
    animation-duration: 2s;
    cursor: pointer;
}

#searchBtn {
    background-color: turquoise;
    margin-bottom: 5px;
    color: black;
    font-weight: bolder;
    margin-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

#recordList {
    text-align: center;
}

#search-artist {
    margin-top: 5px;
    width: 220px;
    height: 36px;
    display: inline-block;
}

#email {
    margin-right: 28px;
}

#password-login, #email-login, #email-signup, #name-signup, #password-signup {
    font-size: 20px;
    font-weight: bold;

}

@media only screen and (max-width: 1024px) {

    #build, #genre {
        height: 300px;
    }

    #genre {
        margin-left: 60px;
    }

    .inputLogin, .loginBtn {
        width: 180px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 823px) {
    footer {
        bottom: 20px;
    }

    .homeLink {
        font-size: 18px;
        margin-right: 15px;
        margin-left: 0px;
    }

    .login-form, .signup-form {
        margin-top: 0px;
        font-size: 18px;
        padding: 0px;
    }

    .inputLogin, .loginBtn {
        width: 140px;
        margin-top: 10px;
    }

    #build {
        margin-left: 20px;
        height: 200px;
    }

    #genre {
        margin-top: 60px;
        height: 200px;
    }
}
@media only screen and (max-width: 812px) {
    h2 {
        font-size: 26px;
    }

    #build {
        margin-left: 30px;
    }

    #genre {
        margin-left: 80px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
   
    .homeLink {
        margin-right: 5px;
    }

    .inputLogin {
        margin-left: 0px;
        width: 140px;
        margin-top: 0px;
    }
    .loginBtn {
        margin-left: 0px;
        margin-top: 10px;
    }

    footer {
        bottom: 30px;
    }

    #build {
        margin-left: 80px;
    }

    #genre {
        margin-left: 80px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 736px) {
    header {
        font-size: 46px;
    }

    .homeLink {
        font-size: 16px;
        float: left;
        margin-left: 14px;
    }

    .login-form {
        margin-bottom: 10px;
    }

    .inputLogin, .loginBtn {
        width: 200px;
    }

    #build {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        height: 300px;
        
    }

    #genre {
        height: 300px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 100px;
        
    }
}

@media only screen and (max-width: 720px) {
    
}

@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 568px) {


}

@media only screen and (max-width: 540px) {
   
}

@media only screen and (max-width: 414px) {
    body {
        background-size: cover;
        height: 110vh;
    }

    #reel2 {
        height: 50px;
        margin-right: 0px;
    }

    #build {
        margin-left: 20px;
    }
   
    #genre {
        margin-left: 20px;
        margin-top: 20px;
    }

    h2 {
        margin-left: 40px;
    }

    .login-form, .signup-form {
        margin-left: 50px;
    }

    .inputLogin, .loginBtn {
        width: 190px;
    }

    .loginBtn {
        margin-right: 10px;
    }

    footer {
        font-size: 14px;
    }

    #search-artist {
        width: 150px;
    }

    #searchBtn {
        margin-left: 5px;
        width: 150px;
        font-size: 13px;
        height: 36px;
        padding: 5px;
    }
}

@media only screen and (max-width: 411px) {
    
}

@media only screen and (max-width: 375px) {

    .inputLogin, .loginBtn {
        width: 160px;
    }

    .new-record {
       width: 360px;
       margin-left: 0px;
    }

    #search-artist {
        width: 130px;
    }
}

@media only screen and (max-width: 360px) {
    header {
        font-size: 38px;
    }
    #build, #genre {
        height: 280px;
    } 
    
    .inputLogin, .loginBtn {
        width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    .homeLink {
        font-size: 15px;
        margin-left: 10px;
    }

    #build, #genre {
        height: 260px;
    } 

    .signup-form, .login-form {
        font-size: 14px;
    }
   
    .inputLogin, .loginBtn {
        width: 120px;
    }

    #search-artist {
        width: 200px;
        margin-left: 20px;
    }
    #searchBtn {
        width: 200px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .new-record {
        width: 300px;
    }

     .crate-button {
         width: 126px;
         font-size: 12px;
    }
}

@media only screen and (max-width: 280px) {
    header {
        font-size: 34px;
    }
    .homeLink {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 0px;
    }

    #build, #genre {
        height: 240px;
    }

    footer {
        font-size: 12px;
        bottom: 0px;
    }

    .inputLogin, .loginBtn {
        width: 100px;
    }
}